<ol class="breadcrumb">
    <li class="breadcrumb-item"><strong>User Id</strong> : @GlobalSettings.oUserMaster.UserId</li>
    @*@if (GlobalSettings.oUserMaster.vUserRole == UserRole.SCHOOL)
    {
     <li class="breadcrumb-item"><strong>School Name</strong> : @GlobalSettings.oUserMaster.InstituName</li>
        
    }*@
    

</ol>